@font-face {
    font-family: lequire;
    src: url('./fonts/Lequire.otf') format("opentype");
}
body {
    background-color: f9f9f9;
    width: auto;
    height: max-height;
    display: flex;
    justify-content: center;
}

#loginSegment {
    background: #F2BB05;
    height:20%;
    
   
}

#loginForm {
    height: auto;
    display: flex;
    flex-direction: column;
    

}


#root > div.search > div > input {
    top: 100%;
    position: relative;
    width: 96%;
    height:45px;

}




#loginIcon {
    color: #124E78;
}

#loginHeader{
  
    color: #124E78;
    font-family: lequire;
}

#loginSubHeader {

    color: #050505;
}
#loginForm .formText label {
    color: #124E78;
}
#termsCheckBox label {
    color: #124E78;
}

.formbtn {
    
    background-color: #124E78;
}

#registerBtn {
    width: 100%;
}

#previewContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.ui.button {
    background-color: #124E78;
}

.locate {
    
    height:45px;
    width: 52px;
    position: relative;
    bottom:3.2rem;
    left:98%;
    transform: translateX(-50%);
    z-index:10;
}

