#mapHeader {
    position: absolute;
    top: 10rem;
    left: 1rem;
    color: white;
    z-index: 10;
    margin: 0;
    padding: 0;
}

#root > div > div.search > div > input{
    width:100%;
    padding:10px;
}

#root > div > div > div.search > div > input{
    width:100%;
    padding:10px;
}

