#logoHeader {
    color: whitesmoke;
    text-align: center;
    
}
#logoSubHeader {
    color: whitesmoke;

}

#headerNav {
    text-align: center !important;
}

#mainNav {
    display: flex;
    justify-content: center;
}
root {

    
    text-shadow: aqua;
}

#logoHeader {
    font-style: oblique;
    font-weight: bold;
    color: #000;

    top: 5%;
    left: 0%;
    width: 100%;
    min-height: 10px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    z-index: 3;

}

#itunesHeader {
    font-style: oblique;
    font-weight: bold;
    color: #000;

    top: 5%;
    left: 0%;
    width: 100%;
    min-height: 10px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    z-index: 3;
}