#sign_up_form{
    background-color: #8DAB7F;
    height:90%;
    padding:10px;
    margin: auto;
    width: 90vw

}

h1{
    font-size:50px;
}

.loginIcon{
    height:40px;
    width:auto;
}

#submitbutton{
    background: whitesmoke;
}
 

/* .ui.form .fields>.field{
   height:20px;
} */

body{
    display:flex;
    justify-content: center;
    width:90%
}

/* #root{
    width: 100%;
    display: flex;
    justify-content: center;
} */
