#root > div > div.search > div > input {
    top: 100%;
    position: relative;
    width: 96%;
    height:45px;
    display: block;

}

#root > div > div > div.search > div{
    width:96%
}

.locate {
    display: block;
    height:45px;
    width: 52px;
    position: relative;
    bottom:3.2rem;
    left:98%;
    transform: translateX(-50%);
    z-index:10;
    text-align: right;
}

#root > div > div.ui.menu {
    margin: 0rem;
}
